<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Identifier</key>
	<string>com.lickyourlips.popclip.extension.mdlist2table</string>
	<key>Extension Name</key>
	<string>MdList2Table</string>
	<key>Extension Description</key>
	<string>Convert and paste in place selected markdown-formatted list into a markdown-formatted table.</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Title</key>
			<string>MdList2Table</string>
			<key>Image File</key>
			<string>mdlist2table.png</string>
			<key>Shell Script File</key>
			<string>PopClip.php</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>After</key>
			<string>paste-result</string>
			<key>Regular Expression</key>
			<string>(^\s*|\s*)[-+*]\s*.+</string>
			<key>Requirements</key>
			<array>
				<string>copy</string>
				<string>paste</string>
			</array>
			<key>Restore Pasteboard</key>
			<true/>
		</dict>
	</array>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>